.navbarUserArea {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  /* Welcome message style */
  .navbarUserArea span {
    color: #f3f3f3;
    font-size: 16px;
  }
  
  /* Logout button style */
  .logout {
    background-color: #ef4444; /* red */
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .logout:hover {
    background-color: #dc2626;
    box-shadow: 0 4px 12px rgba(239, 68, 68, 0.5);
    transform: scale(1.05);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #14b8a6;
    margin-right: 25px;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .profile-image:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(20, 184, 166, 0.6);
  }
  
  