.button {
  --main-focus: var(--color1);
  --font-color: var(--color3);
  --bg-color-sub: var(--color2);
  --bg-color: var(--color4);
  --main-color: var(--color3);

  position: relative;
  width: 190px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s;
}

.button__text {
  color: var(--font-color);
  font-weight: 600;
  z-index: 2;
  transition: all 0.3s;
  margin-left: 10px;
  text-align: start;
}

.button__icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1;
}

.button .svg {
  width: 20px;
  height: 20px;
  fill: var(--main-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 100%;
  right: 0;
}

.button:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}
