:root {
  --color1: #2185d5;
  --color2: #3a4750;
  --color3: #303841;
  --color4: #f3f3f3;
}

.new-card {
  background-color: #ffffff;
  border: 1px solid var(--color1);
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 320px;
  color: var(--color3);
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  padding: 20px;
  box-shadow: 0 0 15px rgba(33, 133, 213, 0.1);
  margin: 5px;
}

.new-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.new-card-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}

.new-card-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.new-card-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--color2);
  margin-bottom: 10px;
}

.new-card-description {
  font-size: 14px;
  color: var(--color3);
  line-height: 1.5;
  margin-bottom: 20px;
}

.explore-btn {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color4);
  color: var(--color3);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  position: relative;
  z-index: 10;
  overflow: hidden;
  border: 2px solid var(--color4);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  isolation: isolate;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.explore-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 9999px;
  background-color: var(--color1);
  left: -100%;
  transition: all 0.7s ease;
  z-index: -10;
}

.explore-btn:hover {
  color: var(--color4);
}

.explore-btn:hover::before {
  left: 0;
  transform: scale(1.5);
}

.explore-icon {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 9999px;
  border: 1px solid var(--color2);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  background-color: transparent;
  fill: var(--color3);
}

.explore-btn:hover .explore-icon {
  background-color: var(--color4);
  border: none;
  transform: translateX(1px) rotate(0deg);
}
