.home {
  width: 100%;
  position: relative;
}
.welcome,
.explore,
.ourPlatForm {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.explore-button {
  background-color: #2185d5;
  color: #f3f3f3;
  padding: 10px 30px;
  border-radius: 10px 1px;
  border: none;
  cursor: pointer;
  margin: 30px;
  width: 200px;
  height: 50px;
  font-size: large;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  font-family: "Amiri";
}

.explore-button:hover {
  background-color: #f3f3f3;
  color: #2185d5;
}

.animated-icon {
  animation: colorMove 3s infinite;
  opacity: 0.3;
  font-size: 200px;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes colorMove {
  0% {
    color: #2185d5;
    transform: translateY(0) scale(1);
  }
  50% {
    color: #f39c12;
    transform: translateY(-10px) scale(1.05);
  }
  100% {
    color: #2185d5;
    transform: translateY(0) scale(1);
  }
}
