.login-card:hover,
.register-card:hover {
  background-color: var(--color3);
  color: var(--color4);
  cursor: pointer;
}
.login-card,
.register-card {
  background-color: var(--color1);
}
.register-login:hover {
  background-color: var(--color1);
}
.forget:hover {
  cursor: pointer;

}
