.fade-container {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.95) translateY(20px);
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.fade-out {
  opacity: 0;
  transform: scale(0.95) translateY(20px);
}
.register-login:hover {
  background-color: var(--color4);
  color: var(--color1);
  cursor: pointer;
}
@media (max-width: 768px) {
  .fade-container {
    flex-direction: column !important;
    width: 95% !important;
    margin: 20px 0;
  }

  .left-panel,
  .right-panel {
    width: 100% !important;
    height: auto !important;
    border-radius: 10px !important;
    padding: 20px;
  }

  .left-panel label,
  .right-panel label {
    font-size: 1.25rem !important;
  }

  .register-login {
    width: 100% !important;
  }

  .login-card,
  .register-card {
    width: 100% !important;
  }
}
