.card-slide {
  position: relative;
  min-width: 250px;

  min-height: 300px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color4);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-slide:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.card-bg-slide {
  position: absolute;
  inset: 10px;
  background: white;
  border-radius: 12px;
  z-index: 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--color1);
}

.card-content-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.material-name-slide {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color1);
  margin-bottom: 0.4rem;
}

.exam-type-slide {
  font-size: 1rem;
  color: var(--color2);
  margin-bottom: 0.8rem;
}

.doctor-info-slide {
  font-size: 0.9rem;
  color: var(--color3);
  margin-top: auto;
}

.doctor-label-slide {
  font-size: 0.8rem;
  color: #999;
}

.doctor-name-slide {
  margin: 0;
  font-weight: 500;
  color: var(--color2);
}

.btn-slide {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background-color: var(--color1);
  color: var(--color4);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn-slide:hover {
  background-color: #1867a2;
}

.blob-slide {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 120px;
  height: 120px;
  background-color: var(--color1);
  border-radius: 50%;
  filter: blur(18px);
  opacity: 0.4;
  animation: blob-bounce 6s infinite ease-in-out;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-50%, -50%) translate3d(30px, -10px, 0);
  }
  50% {
    transform: translate(-50%, -50%) translate3d(-20px, 20px, 0);
  }
  75% {
    transform: translate(-50%, -50%) translate3d(10px, -20px, 0);
  }
  100% {
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }
}
