@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
body {
  overflow-x: hidden;
}
:root {
  --color1: #2185d5;
  --color2: #3a4750;
  --color3: #303841;
  --color4: #f3f3f3;
}
button {
  background-color: var(--color1);
  color: var(--color4);
  border-radius: 10px;
  padding: 5px;
}

.containers {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
}

.main-content {
  flex-grow: 1;
}

.text1 {
  color: var(--color1);
}

.text2 {
  color: var(--color2);
}

.text3 {
  color: var(--color3);
}

.text4 {
  color: var(--color4);
}
.swiper-container {
  width: 100%;
  padding: 40px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 300px !important;
}
