.modal {
  width: 100%;
  position: relative;
  min-height: 500px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem;
}

.logo-circle {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e9e5ff;
  color: #1cc972;
  font-size: 1rem;
}

.modal-body {
  padding: 0.75rem 1rem;
  flex-grow: 1;
}

.modal-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.modal-description {
  color: #6a6b76;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.upload-area {
  margin-top: 1rem;
  background-color: transparent;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed #6a6b76;
  cursor: pointer;
  text-align: center;
}

.upload-area:hover {
  background-color: #f9f9f9;
}

.upload-area-icon {
  font-size: 36px;
  color: #1cc972;
}

.upload-area-title {
  margin-top: 0.5rem;
  display: block;
  font-weight: 700;
  color: #0d0f21;
  font-size: 1rem;
}

.upload-area-description {
  display: block;
  color: #6a6b76;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.modal-footer {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e5e5e5;
}

.modal-footer [class*="btn-"] {
  margin-left: 0.5rem;
}

.btn-secondary,
.btn-primary {
  padding: 0.4rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 2px solid #e5e5e5;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #1cc972;
  border-color: #1cc972;
}

.btn-primary:hover {
  background-color: #1cc972;
  border-color: #1cc972;
}

.remove-file-btn {
  margin-left: 10px;
  background-color: rgb(130, 126, 126);
  font-size: 0.85rem;
  padding: 0.3rem 0.6rem;
}

.remove-file-btn:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
@media (max-width: 600px) {
  .modal {
    width: 300%;
    min-height: auto;
    font-size: 0.85rem;
    padding: 10px 0;
    left: -111px;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 0.75rem;
  }

  .upload-area {
    padding: 1rem;
  }

  .modal-title {
    font-size: 1rem;
  }

  .modal-description,
  .upload-area-description {
    font-size: 0.75rem;
  }

  .upload-area-title {
    font-size: 0.95rem;
  }

  .btn-primary,
  .btn-secondary {
    font-size: 0.85rem;
    padding: 0.35rem 0.6rem;
  }

  .remove-file-btn {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}
